# Ignore .env file containing sensitive information
.env

# Node.js specific
node_modules/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Ignore build or dist directories
build/
dist/

# Optional: Ignore Kubernetes and other YAML files (if needed)
*.yml
*.yaml
